node_modules/
dist/
build/
.vscode/
.DS_Store
*.log
/.pnp
/.pnp.js
coverage/
.nyc_output/
.env
.env.local
.electron-user-data/
.media-purgue/
.cache/
.parcel-cache/
.vite/
.idea/
*.tgz
coverage-
/.history/
apps/**/dist/
packages/**/dist/
tests/e2e/fixtures/
